<mat-card>
  <mat-card-header>
    <mat-card-title>{{ currentUser.getUser()?.username }}</mat-card-title>
    <mat-card-subtitle>{{ currentUser.getUser()?.role }}</mat-card-subtitle>
    <div *ngIf="currentUser.getUser()?.role === 'admin'">
      Show default settings
      <mat-slide-toggle [(ngModel)]="editDefaultSettings" (change)="loadRelevantSettings()"></mat-slide-toggle>
    </div>
  </mat-card-header>
  <app-settings [editDefaultSettings]="editDefaultSettings"  [settings]="settings" [disableUserScoring]="currentUser.getUser()?.role !== 'admin'"></app-settings>
</mat-card>