<h1 mat-dialog-title>New company</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [ngModel]="company?.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Size</mat-label>
    <input matInput [ngModel]="company?.size">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Funding</mat-label>
    <input matInput [ngModel]="company?.funding">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput [ngModel]="company?.age">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="company" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>
