img {
  float: left;
  margin-left: 30px;
  margin-right: 100%;
}

app-companies-list {
  padding: 30px;
  padding-top: 0%;
  float: left;
  width: 50%;
}

app-user-container {
  float: right;
  margin-right: 8%;
  width: 35%;
}